.allcards{
  margin:auto;
}
.card-img{
  margin: auto;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
}
#np-results{
  display: inline;
  float:right;
  width:100px;
  height:auto;
  border-radius: 4px;
  background-color: #fcfdfd;
  margin: 2px;
}
.card{
  margin:auto;
}
